/* CLEARFIX TECHNIQUE
=================================
*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* For IE 6/7 only */
.clearfix {
    *zoom: 1;
}
/* HIDDEN TECHNIQUES
=================================
*/
/* HIDE FROM SCREENREADERS AND BROWSERS */
.hidden {
    display: none !important;
    visibility: hidden;
}
/* HIDE BUT AVAILABLE FOR SCREENREADERS */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/* GLOBAL STYLES
=================================
*/
html, body{
  padding:0;
  margin:0;
}
html{
	background:url('assets/images/bkgnd.gif');
}
body {
  	font: 400 14px/1.4em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	color: #444;
}
h1, h2, h3, h4, h5, h6 {
  	font: 700 18px/1.3em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#BC1D24;
}
h1{
	font-size:1.8em;
}
h2{
	font-size:1.6em;
}
/* HYPERLINKS */
a {
  color: #4083a9;
  text-decoration: none;
}
a:link, a:visited {
  color: #4083a9;
  outline: none;
}
a:hover {
  color: #205f82;
}
/* CUSTOM SELECTION COLORS */
::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: #ea4c89;
}
::selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: #ea4c89;
}
/* HORIZONTAL RULER */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/* FORMS */
button,
input,
select,
textarea {
    color: #222;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}