#appUpload{
	width:960px;
	margin:0 auto;
}
#header h1{
	width: 100%;
	font-size:4em;
	line-height:0em;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.36);	
}
#filesToUpload {
	position: relative;
	margin: 0;
	width:100%;
	outline: none;
	padding:12px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2),
				0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.66);
	z-index: 2;	
	zoom: 1.5;
	font-size:0em;
}
#filesToUpload::-webkit-file-upload-button {
  visibility: hidden;
}
#filesToUpload:before {
  content: 'Choose image files / drop folders';
  display: inline-block;
  background: -webkit-linear-gradient(top, #F9F9F9, #E3E3E3);
  background: -moz-linear-gradient(top, #F9F9F9, #E3E3E3);
  background: -ms-linear-gradient(top, #F9F9F9, #E3E3E3);
  background: -o-linear-gradient(top, #F9F9F9, #E3E3E3);
  background: linear-gradient(top, #F9F9F9, #E3E3E3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  box-shadow:0px 0px 3px #111;
  font-weight: 700;
  font-size:1rem;
  color: #333;
}
#filesToUpload:hover:before {
  border-color:#111;
}
#filesToUpload:active:before {
  background: -webkit-linear-gradient(top, #E3E3E3, #F9F9F9);
  background: -moz-linear-gradient(top, #E3E3E3, #F9F9F9);
  background: -ms-linear-gradient(top, #E3E3E3, #F9F9F9);
  background: -o-linear-gradient(top, #E3E3E3, #F9F9F9);
  background: linear-gradient(top, #E3E3E3, #F9F9F9);
}
#uploadsList {
	display:block;
	margin: 0;
	padding: 0;
	width:100%;
	list-style: none;	
	top:0;
	background:rgba(255,255,255,1);
	z-index:2;
}
#uploadsList li {
	position: relative;
	border-bottom: 1px dotted #ccc;
}
#uploadsList li:last-child {
	border-bottom: none;
}
#uploadsList li.completed {
	color: #a9a9a9;
	text-decoration: line-through;
	background:#eee;
}
#uploadsList li.completed progress {
	opacity:0;
}
.fileThumbnail{
	position:relative;
	float:left;
	width:160px;
	height:90px;
	overflow:hidden;
	margin:12px;
	display:block;
	border:6px solid #ddd;
	border-radius:6px;
}
.fileThumbnail::before{
	position:absolute;
	content:'';
	width:100%;
	height:100%;
	box-shadow: inset 0 0 4px 4px rgba(0,0,0,0.52);
	z-index:2;
	background:url('assets/images/glass.png');
}
.fileThumbnail img{
	min-width:100%;
	min-height:100%;
	width:100%;
}
.fileThumbnail figcaption{
	display:none;
}
.fileThumbnail span{
	width:100%;
	height:100%;
	line-height:90px;
	margin:0 auto;
	text-align:center;
	font-size:2em;
	font-weight:bold;
	display:block;
}
#uploadsList li.completed .fileThumbnail span{
	color: #111;
}
.fileInformation {
	float:left;
}
.fileMeta span{
	margin:0 12px 0 0;
}
.fileMeta span:last-of-type{
	margin:0;
}
#filesDropZone{
	border:1px dotted #333;
	background:#ccc;
	height:80px;
	line-height:80px;
	text-align:center;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2),
				0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
.dzdragover{
	background:#0F6 !important;
	border-color:#6F0 !important;
}
#uploadsList li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 22px;
	color: #a88a8a;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#uploadsList li .destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	cursor:hand;
	cursor:pointer;
}
#uploadsList li .destroy:after {
	content: '✖';
}
#uploadsList li:hover .destroy {
	display: block;
}